.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.button {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: white;
  padding: 10px 15px;
  transition: all 0.3s ease;
  font-family: "Alice", serif;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;

  text-align: center;
}

.button:hover {
  background: transparent;
  color: var(--secondary);
}

.logo {
  margin: 120px 0px;
}

.logo svg {
  width: 30vw;
  min-width: 20rem;
  max-width: 30rem;
  height: auto;
}

.logo svg path {
  fill: #6f7a72;
}

.footer-text {
  text-align: center;
  margin-bottom: 50px;
  color: var(--secondary);
  font-size: 24px;
}
