.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; 
}

.button {
  background: var(--secondary);
  border: 1px solid var(--secondary);
  color: white;
  padding: 10px 15px;
  transition: all 0.3s ease;
  font-family: "Alice", serif;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background: transparent;
  color: var(--secondary);
}

.logo {
  margin: 30px 0px;
}

.logo svg {
  width: 50vw;
  min-width: 15rem;
  max-width: 25rem;
}