.tile-container {
  flex-direction: column;
  width: auto;
  margin: 30px auto;
  border: 1px solid var(--secondary);
  padding: 15px;
  max-width: 500px;
}

.tile-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--secondary);
  line-height: 25px;
  font-size: 12px;
}

.tile-container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: var(--secondary);
}

.tile-container p span {
  font-weight: 500;
}

.tile-2 {
  width: auto;
}

.day-tile {
  display: flex;
  justify-content: space-between;
}

.date-time {
  padding-right: 20px;
}

.lodging-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lodging-button {
  text-decoration: none;
  color: var(--secondary);
  padding: 10px;
  border: 1px solid var(--secondary);
  margin: 10px;
  margin-left: 0;
  font-size: 10px;
}

.lodging-button:hover {
  background: var(--secondary);
  color: white;
}

@media screen and (min-width: 800px) {
  .tile-container {
    width: max-content;
    margin: 30px auto;
    border: 1px solid var(--secondary);
    padding: 120px;
    min-width: 500px;
    max-width: 500px;
  }

  .tile-container p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--secondary);
    line-height: 30px;
  }

  .tile-container h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--secondary);
  }

  .tile-container p span {
    font-weight: 500;
  }

  .day-tile {
    display: flex;
    justify-content: space-between;
  }

  .date-time {
    padding-right: 100px;
  }

  .lodging-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lodging-button {
    text-decoration: none;
    color: var(--secondary);
    padding: 10px;
    border: 1px solid var(--secondary);
    margin: 10px;
    margin-left: 0;
    font-size: 13px;
  }

  .lodging-button:hover {
    background: var(--secondary);
    color: white;
  }
}
