@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

:root {
  --main: #eee4dc96;
  --primary: #645c4d;
  --secondary: #9e5a4a;
}

body {
  font-family: "Alice", serif;
  background-color: var(--main);
}
